@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  color: #d9d9d9;
}

.text-primary {
  color: #36f6c6;
}

.text-general {
  color: #d9d9d9;
}

.text-dark {
  color: #292929;
}

.bg-primary {
  background-color: #36f6c6;
}

.bg-background {
  background-color: #292929;
}

@theme {
  --color-primary: #36f6c6;
  /* --color-background: #292929;
  --color-general: #d9d9d9; */
}
